{
  email {$ACME_EMAIL}
}

{$GOTENBERG_DOMAIN} {
  route {
    @unauthorized not header Authorization "Bearer {$GOTENBERG_TOKEN}"
    respond @unauthorized 401

    request_body {
      max_size 20MB
    }

    @allowed path /health /forms/libreoffice/convert
    reverse_proxy @allowed gotenberg:3000 {
      transport http {
        dial_timeout 5s
        response_header_timeout 40s
      }
      health_uri /health
      health_interval 30s
      health_timeout 5s
    }

    respond 404
  }
}
